<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#576CBC"/>

  <link rel="icon" href="./favicon.svg">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
  <title>Dapur Mama</title>
</head>

<body>
  <a class="skip2content" aria-label="button skip to button" tabindex="0" href="#main-resto">Lewati menuju konten</a>
  <header>
    <nav>
      <div class="nav-container" id="navcontainer">
        <div class="brand">
          <a href="#">Dapur Mama</a>
          <button id="menu" class="header_menu" aria-label="button menu dropdown">
            ☰
          </button>
        </div>

        <div class="nav__menu" id="navmenu">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#/favorite">Favorite</a>
            </li>
            <li>
              <a href="https://github.com/naufaladdhiya" target="_blank" rel="noopener noreferrer">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="hero-container" id="hero">
    <div class="hero-content-container">
      <h1 class="hero-text">Dapur Mama</h1>
      <p class="hero-text">Temukan restoran favorite disekitar kamu dengan cepat dan mudah</p>
    </div>
  </div>

  <main id="mainContent" class="main-resto_container"></main>

  <hr />
  <footer>
    <p class="footer-text">Copyright &copy; 2023 - Dapur Mama</p>
  </footer>
</body>

</html>