<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Apps Starter Project</title>
</head>

<body>
  <a class="skip2content" aria-label="button skip to button" tabindex="0" href="#main-resto">Lewati menuju konten</a>
  <header>
    <nav>
      <div class="nav-container">
        <div class="brand">
          <div class="brand-icons">
            <a href="#">Dapur Mama</a>
          </div>
          <button id="menu" class="header_menu" aria-label="button menu dropdown">
            ☰
          </button>
        </div>

        <div class="nav__menu" id="navmenu">
          <ul>
            <li>
              <a href="/" target="_blank" rel="noopener noreferrer">Home</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Favorite</a>
            </li>
            <li>
              <a href="https://github.com/naufaladdhiya" target="_blank" rel="noopener noreferrer">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="hero-container">
    <div class="hero-content-container" id="hero">
      <h1>Dapur Mama</h1>
      <p>Temukan restoran favorite disekitar kamu dengan cepat dan mudah</p>
    </div>
  </div>

  <main id="main-resto" class="main-resto_container">
    <section class="content">
      <h2 tabindex="0" class="main-resto_label">Explore Restaurant</h2>
      <div id="main-resto_list" class="list-resto"></div>
    </section>
  </main>

  <hr>
  <footer>
    <p>Copyright &copy; 2023 - Dapur Mama</p>
  </footer>

</body>

</html>