@media only screen and (max-width: 699px) {
  .nav-container {
    display: block;
  }
  .brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
  }
  .nav__menu ul {
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .header_menu {
    font-size: 20px;
    display: block;
  }
  .nav__menu {
    justify-content: start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
  }
  .main-resto_container {
    padding: 25px 20px;
  }
  .hero-container .hero-content-container {
    text-align: left;
    line-height: 1.5em;
  }
  .skip2content {
    display: none;
  }
  .hero-container {
    background-image: url('../public/images/sharp/hero-image_4-small.jpg');
  }
}

@media only screen and (min-width: 700px) {
  .header_menu {
    display: none;
  }
  section {
    margin-bottom: 80px;
  }

  .main-resto_label {
    font-size: 26px;
  }

  .list-resto {
    grid-template-columns: 1fr 1fr;
  }

  .resto-item_name {
    font-size: 22px;
  }
  .main-resto_container {
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1200px) {
  nav {
    padding: 0 100px;
  }
  .main-resto_container {
    padding: 0 100px;
  }
  .list-resto {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1.5em;
    margin-top: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .restaurant-detail__info,
  .restaurant-detail__menu-list,
  .restaurant-detail__review {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 50px;
    margin: 0 auto;
  }
  .detail-review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .resto-item_image-container {
    max-width: 300px;
  }
}
